In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import seaborn as sb
from dask.distributed import Client, progress
client = Client()

In [6]:
# Web browser access to Dask Client Monitoring 
client

In [2]:
# read dataset usin Dask.DataFrame, state data type for columns with multiple data types in their columns
park_df = dd.read_csv('datasets/Parking_Violations_Issued_-_Fiscal_Year_2015.csv',
    dtype = {
        'Meter Number' : object,
        'Time First Observed' : object,
        'Violation Location' : object,
        'Violation Legal Code' : object,
        'Double Parking Violation': object,
        'Hydrant Violation': object,
        'No Standing or Stopping Violation': object,
        'Feet From Curb': 'float64',
        'Law Section': 'float64',
        'Vehicle Year': 'float64',
        'Issuer Squad' : object
        
    }, )

In [12]:
print(park_df.shape)
park_df.head(50)

(Delayed('int-75190a29-78e5-4fd4-afdd-9311d4755b77'), 51)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7704791394,JJF6834,PA,PAS,11/20/2014,21,4DSD,NISSA,T,74230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7541599104,FYP8263,NY,PAS,08/01/2014,21,SUBN,HONDA,T,77530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7443513951,FZL7450,NY,PAS,07/19/2014,71,4DSD,VOLVO,T,49210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7426321423,86318MA,NY,COM,09/23/2014,69,VAN,CHEVR,T,21690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8017159560,GKX8095,NY,PAS,01/20/2015,71,4DSD,LEXUS,T,35490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8017159560,GKX8095,NY,PAS,01/20/2015,71,4DSD,LEXUS,T,35490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7002571382,CXT8949,TX,PAS,02/17/2015,20,SUBN,MAZDA,T,51190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7939966900,GSR4914,NY,PAS,05/05/2015,20,SUBN,DODGE,T,20090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7704167637,XBVP75,NJ,PAS,10/21/2014,16,VAN,FORD,T,5780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,7095480941,AP515N,NJ,PAS,08/21/2014,85,DELV,FRUEH,T,10790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7831181295,16238TC,NY,TRC,08/07/2014,14,TRAC,PETER,T,13610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8007006229,122YEZ,CT,PAS,08/26/2014,21,4DSD,NISSA,T,5580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1369109532,65920JW,NY,COM,06/23/2014,46,VAN,MERCU,P,18770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7580650400,GBU2135,NY,PAS,09/24/2014,71,SUBN,HONDA,T,10110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,7420795630,6AJWV5,CT,PAS,10/04/2014,37,SUBN,FORD,T,40220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1379105602,GDL7305,NY,PAS,01/21/2015,70,SDN,TOYOT,P,19330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,7054223901,58359MD,NY,COM,03/26/2015,42,PICK,FORD,T,18070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,8011213386,60304MD,NY,COM,10/06/2014,46,DELV,FRUEH,T,8140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,7997989572,GJP9663,NY,PAS,01/24/2015,20,4DSD,NISSA,T,27390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,7997989572,GJP9663,NY,PAS,01/24/2015,20,4DSD,NISSA,T,27390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,7097098715,G78DLL,NJ,PAS,03/11/2015,38,SUBN,BMW,T,49130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,7787591079,GKP6078,NY,PAS,11/19/2014,20,SUBN,CHRYS,T,15010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,8023905028,GAR6688,NY,PAS,02/24/2015,20,4DSD,MAZDA,T,26630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1369992300,1545236,ME,PAS,08/20/2014,66,TRAI,NaN,S,62030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,7359154236,M80ANH,NJ,PAS,11/14/2014,37,4DSD,ACURA,T,72720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,7950697490,25X944,OK,PAS,12/23/2014,46,DELV,INTER,T,16310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1371360765,36913MA,NY,COM,09/15/2014,46,DELV,HINO,P,10510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,8035700765,GKB7155,NY,PAS,06/09/2015,21,SUBN,CHRYS,T,89030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,7766334392,CJP1169,NY,PAS,09/05/2014,37,SUBN,NISSA,T,64790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,7744281500,EYB8055,NY,PAS,12/18/2014,21,SUBN,TOYOT,T,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8021902164,96313JE,NY,COM,04/07/2015,46,REFG,ISUZU,T,53830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,7579558312,60154JZ,NY,COM,09/11/2014,89,PICK,CHEVR,T,10610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,7006621586,FFE3632,NY,PAS,08/12/2014,38,SUBN,TOYOT,T,47990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,7567693926,GSM7092,NY,PAS,07/14/2014,21,4DSD,HONDA,T,10540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,8013576309,44189JW,NY,COM,01/21/2015,71,VAN,FORD,T,6740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,8013576309,44189JW,NY,COM,01/21/2015,71,VAN,FORD,T,6740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,7540622817,G98BVF,NJ,PAS,09/09/2014,37,SUBN,DODGE,T,44930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,7468795666,33451MB,NY,COM,05/26/2015,21,VAN,FORD,T,23940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,7665067440,JFS9782,PA,PAS,11/29/2014,38,2DSD,AUDI,T,10110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,7236306897,18846MC,NY,COM,07/31/2014,14,DELV,NS/OT,T,18250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,7553907455,W73DRS,NJ,PAS,01/12/2015,21,4DSD,NISSA,T,45130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,7553907455,W73DRS,NJ,PAS,01/12/2015,21,4DSD,NISSA,T,45130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,7557194007,CME3770,NY,PAS,12/11/2014,71,SUBN,SUBAR,T,78230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,7166745757,GEB3048,NY,PAS,08/25/2014,38,4DSD,HYUND,T,39800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,8005280350,55065MB,NY,COM,11/24/2014,69,VAN,WORKH,T,34410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
park_df.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation', 'Latitude', 'Longitude', 'Community Board',
       'Community Council ', 'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

## Check for NaNs (Columns)
Starting with checking on Null values & removing the columns that have too many & are unnecessary for further manipulation

In [4]:
#Create DataFrame with NaN values in the Dataset
  
def count_nan(dataset):
    null_values = pd.DataFrame({
        'Feature' : [],
        'NaN Count' : []
    })
    for feature in dataset.columns:
        null_values = null_values.append({
            'Feature' : feature,
            'NaN Count' : list(dd.compute(dataset[feature].isna().sum()))[0]
        }, ignore_index = True)
    return null_values
count_nan_values = client.submit(count_nan, park_df)

Select Columns with an excess number of Null values, approximately at leat 60% of the column data & drop them from the dataset.

In [16]:
# count_nan_values Results
count_nan_values.result()

                              Feature   NaN Count
0                      Summons Number         0.0
1                            Plate ID      2331.0
2                  Registration State         0.0
3                          Plate Type         0.0
4                          Issue Date         0.0
5                      Violation Code         0.0
6                   Vehicle Body Type     45816.0
7                        Vehicle Make     75520.0
8                      Issuing Agency         0.0
9                        Street Code1         0.0
10                       Street Code2         0.0
11                       Street Code3         0.0
12            Vehicle Expiration Date         0.0
13                 Violation Location   1799170.0
14                 Violation Precinct         0.0
15                    Issuer Precinct         0.0
16                        Issuer Code         0.0
17                     Issuer Command   1783458.0
18                       Issuer Squad   1783635.0
19                     Violation Time      1715.0
20                Time First Observed  10581789.0
21                   Violation County   1839734.0
22  Violation In Front Of Or Opposite   1881287.0
23                       House Number   1990759.0
24                        Street Name      6055.0
25                Intersecting Street   8565689.0
26                Date First Observed         1.0
27                        Law Section         1.0
28                       Sub Division       412.0
29               Violation Legal Code  10024086.0
30         Days Parking In Effect       2838555.0
31               From Hours In Effect   5186602.0
32                 To Hours In Effect   5186602.0
33                      Vehicle Color    133151.0
34              Unregistered Vehicle?  10428913.0
35                       Vehicle Year         3.0
36                       Meter Number   9545789.0
37                     Feet From Curb         3.0
38                Violation Post Code   3162199.0
39              Violation Description   1380355.0
40  No Standing or Stopping Violation  11809232.0
41                  Hydrant Violation  11809232.0
42           Double Parking Violation  11809232.0
43                           Latitude  11809233.0
44                          Longitude  11809233.0
45                    Community Board  11809233.0
46                 Community Council   11809233.0
47                       Census Tract  11809233.0
48                                BIN  11809233.0
49                                BBL  11809233.0
50                                NTA  11809233.0

## Drop NA Columns

## Check for Nans (Rows)

## Drop NA Rows

## Change Data types

In [30]:
# client = Client()
# d_test = dd.compute(park_df['Plate ID'])
col_test = pd.DataFrame(park_df['Plate ID'])

C:\Users\teddy\miniconda3\envs\DS_env\lib\site-packages\dask\dataframe\io\csv.py:125: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pandas_read_text(

In [92]:
# 1. Create a list of columns to test with the
# 3. Create the function that will iterate through the columns in the

# 2. Create the client.compute() fn on the main dataset,, & pass the specific columns as a variable
# 4. Return value of null count to compute function

# 5. Attempt to return a dask future output


# 2. define fn for iteration with: persistent data, filtered columns, iteration for counting na
def na_count_test(dataset):
    
    nan_col_test = list(dataset.columns)
    del nan_col_test[1:40]
    # dataset = client.persist(dataset)
    null_values = []
    for feature in nan_col_test:
        # null_values.append(feature)
        null_values.append(dataset[feature].isna().sum())
    return null_values

# 1. Initialize a client.map fn & pass it fn & dataset
dataset = client.compute(park_df)
null_values = client.submit(na_count_test, dataset)

In [ ]:
#Check whether all the features have an assigned dtype - object

#Try Convert specific features to relevant dtypes

#Catch any values that are unable to convert & change the value to NaN

In [93]:
for value in park_df['Violation Code'].values.compute():
    try:
        value = value.tostring()
    except:
        print(park_df[park_df['Violation Code'] == value]['Summons Number'])

C:\Users\teddy\miniconda3\envs\DS_env\lib\site-packages\dask\dataframe\io\csv.py:125: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pandas_read_text(
C:\Users\teddy\AppData\Local\Temp/ipykernel_13844/327283954.py:3: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  value = value.tostring()

In [ ]:
#Concepts learnt

# client server are used to enable multiple workers that'll carry out the Dask Tasks

# Requires that you import Dask & Client
# Data required that the feature datatypes are declared initially, otherwise fails on Dask commands
# client.submit()
# client.result()
# client.restart()
# client.map() for multiple function calls. ie, range(1000)

#park_df.memory_usage(index = True).compute() calculate meory used per Column`


# Links
# https://readthedocs.org/projects/distributed/downloads/pdf/latest/