In [4]:
import spacy
from spacy.training import Example      #imported in scenarios where the NER model is to be fed preprocessed data
# nlp = spacy.load("en_core_web_sm")
import random

In [6]:
test = """European authorities fined Google a record $5.1 billion on Wednesday for
 abusing its power in the mobile phone market and ordered the company to alter its practices."""

In [16]:
doc = nlp(test)

print([[X.text , X.pos_] for X in doc])

[['European', 'ADJ'], ['authorities', 'NOUN'], ['fined', 'VERB'], ['Google', 'PROPN'], ['a', 'DET'], ['record', 'NOUN'], ['$', 'SYM'], ['5.1', 'NUM'], ['billion', 'NUM'], ['on', 'ADP'], ['Wednesday', 'PROPN'], ['for', 'ADP'], ['\n ', 'SPACE'], ['abusing', 'VERB'], ['its', 'PRON'], ['power', 'NOUN'], ['in', 'ADP'], ['the', 'DET'], ['mobile', 'ADJ'], ['phone', 'NOUN'], ['market', 'NOUN'], ['and', 'CCONJ'], ['ordered', 'VERB'], ['the', 'DET'], ['company', 'NOUN'], ['to', 'PART'], ['alter', 'VERB'], ['its', 'PRON'], ['practices', 'NOUN'], ['.', 'PUNCT']]

In [36]:
import json     #json file utilized
resume_ds = []
with open('datasets/resume.json', encoding = 'utf8') as data:
    # resume_ds = pd.read_json(data, lines = True) #Works for typical json files, however this file type comprises of json lines without separators
    for line in data:
        resume_ds.append(dict(json.loads(line)))        #Read each line on its own & load to memory. Number of lines can also be curated.

In [157]:
resume_ds[10]            #verify on data

{'content': "Shrishti Chauhan\nHave total work experience of 2.5 years on Oracle Fusion Middleware -\nSOA, WebLogic and MFT Module.\n\nBilaspur, Chhattisgarh - Email me on Indeed: indeed.com/r/Shrishti-\nChauhan/89d7feb4b3957524\n\nSeeking to hone and enhance my technical skills in Oracle Fusion Middleware while working as\na professional in challenging and goal oriented environment.\n\nWilling to relocate to: Bengaluru, Karnataka\n\nWORK EXPERIENCE\n\nTechnical Consultant\n\nOracle -  Bengaluru, Karnataka -\n\nOctober 2015 to Present\n\n• Have total work experience of 2.5 years on Oracle Fusion Middleware - SOA, WebLogic and\nMFT Module.\n\n• Have extensively worked on Support, Testing, Cloning, Monitoring and Maintenance support\nand Enhancement for the E-Commerce Project with multi system module.\n\n• Have good understanding on End-to-End Business Process.\n\n• Experience in developing and deploying BPEL Processes using technology adapters (DB\nAdapter, File Adapter, FTP Adapter and JMS Adapter).\n\n• Part of a team for developing a BPEL process to integrate Oracle Fusion Applications. This\nOrchestrated BPEL Process had process activities like data conversion, transformation and fault\nhandling.\n\n• Developed and deployed BPEL processes to import sales order and add lines to the sales order\nimported from external sources (Files and Databases) into Order Orchestration Module.\n\n• Worked on BPEL process to create sales order within Order Orchestration Module using SOAPUI\nand Enterprise Manage.\n\n• Have good understanding on Synchronous and Asynchronous processes, Transformations, XSD,\nXSLT and XPath\n\n• Installation of Middle tier application server (SOA Suite 11g), configuring and deploying\napplication adapters and integrating with other ERP or 3rd Party Services.\n\n• Working with the client team and communicating with the business teams regarding integration\nwith external Delivery System.\n\nhttps://www.indeed.com/r/Shrishti-Chauhan/89d7feb4b3957524?isid=rex-download&ikw=download-top&co=IN\nhttps://www.indeed.com/r/Shrishti-Chauhan/89d7feb4b3957524?isid=rex-download&ikw=download-top&co=IN\n\n\n• As an Oracle Technical Consultant I was responsible for providing End-to-End support in the\nproject for Oracle Fusion Middleware.\n\n• Good understanding of Service Oriented Architecture (SOA) with the middleware technologies\nfor application integration.\n\nTechnical Consultant\n\nOracle\n\nHave total work experience of 2.5 years on Oracle Fusion Middleware - SOA, WebLogic and MFT\nModule.\n\nEDUCATION\n\nC.S.\n\nCHHATTISGARH SWAMI VIVEKANANDA TECHNICAL UNIVERSITY\n\n2011 to 2015\n\nSKILLS\n\nXml, Oracle MFT, Core Java, Oracle SOA, WSDL, ODI\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILL SET\nERP Packages Oracle Fusion Middleware and Oracle Fusion Application (DOO/GOP)\nFusion Middleware Modules Oracle SOA, MFT and Web Logic (11G and 12C Version)\nAdapters Database, JMS, FTP and File\nTools JDeveloper, Enterprise Manager, Administrative Console, SOAP UI and BI Publisher\nProgramming Languages XML, C++ and Core Java\nDatabases SQL\nOperating System Unix and Windows\n\nPROJECT DETAILS\nProject Client HOLTS RENFREW\nRole & Duration Technical Consultant Oct-15\nScope of Project Oracle Fusion Middleware 11G and Oracle Fusion Application R12\nProject Description\nHolt Renfrew is 180 years old chain of high-end Canadian department stores specializing in an\narray of luxury brands and designer boutiques.\n\nResponsibilities\n• Worked as Technical Consultant to the customer for the issues related to Oracle SOA (mainly\nBPEL and Mediator Components).\n• Providing daily Server Health Check for SOA and DOO/GOP (SCM) to the customer.\n• Attending/Conducting weekly customer calls and providing an update about the progress of\nthe issues.\n\n\n\n• Interacting with the Clients to understand the requirement and details of the issues and\nproviding suggestions/answers to their queries.\n• Resolving technical issues and enhancement raised by the customer.\n• Reviewing work products from the Team Members and delivering products to the client on time\nwith high quality.\n• RCA for the Complex Issues in client's version of Oracle SOA and SCM.\n• Partially worked on functional issues related to DOO/GOP - Order Management and Inventory\nManagement.\n• Working effectively with Oracle Product Support for any issue related to Standard Functionality.\n\nProject Client WHITBREAD PLC\nRole & Duration Technical Consultant SEPT-17\nScope of Project Oracle Fusion Middleware 12C and Oracle SAAS\nProject Description\nWhitbread PLC is the UK's largest hospitality company, owning Premier Inn and Costa Coffee, as\nwell as Beefeater, Brewers Fayre, and Bar Block.\n\nResponsibilities\n• Worked as Technical Consultant to the customer for the issues related to Oracle SOA and MFT.\n• Monitoring Critical Process and fixing the concurrent process running on SOA, MFT and ODI.\n• Worked on developing and executing Integration Regression Test Script.\n• Developing Application Understanding Documents for the Standard functionalities.\n• Interacting with the Clients to understand the requirement and details of the issues and\nproviding suggestions/answers to their queries.\n• Resolving technical issues and enhancement raised by the customer.\n• Reviewing work products from the Team Members and delivering products to the client on time\nwith high quality.\n• RCA for the Complex Issues in client's version of Oracle SOA and SCM.\n• Working effectively with Oracle Product Support for any issue related to Standard Functionality.\n• Co-ordinate internally with various teams, executives in providing the decisions to various\nfactors influencing the project implementation",
 'annotation': [{'label': ['Companies worked at'],
   'points': [{'start': 5365, 'end': 5370, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 5318, 'end': 5323, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4676, 'end': 4681, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 4613, 'end': 4632, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4407, 'end': 4412, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4374,
     'end': 4397,
     'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4374, 'end': 4379, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 4328, 'end': 4347, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4210, 'end': 4215, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 4059, 'end': 4064, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 3449, 'end': 3454, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 3386, 'end': 3405, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 3165, 'end': 3170, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 3132,
     'end': 3155,
     'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 3132, 'end': 3137, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 3087, 'end': 3106, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2756, 'end': 2761, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2694, 'end': 2699, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2665,
     'end': 2688,
     'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2665, 'end': 2670, 'text': 'Oracle'}]},
  {'label': [], 'points': [{'start': 2585, 'end': 2590, 'text': 'Oracle'}]},
  {'label': ['Skills'],
   'points': [{'start': 2562, 'end': 2567, 'text': 'Oracle'}]},
  {'label': ['Skills'],
   'points': [{'start': 2557,
     'end': 2605,
     'text': 'Xml, Oracle MFT, Core Java, Oracle SOA, WSDL, ODI'}]},
  {'label': ['Graduation Year'],
   'points': [{'start': 2543, 'end': 2546, 'text': '2015'}]},
  {'label': ['College Name'],
   'points': [{'start': 2482,
     'end': 2532,
     'text': 'CHHATTISGARH SWAMI VIVEKANANDA TECHNICAL UNIVERSITY'}]},
  {'label': ['Degree'],
   'points': [{'start': 2476, 'end': 2479, 'text': 'C.S.'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2407,
     'end': 2430,
     'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2407, 'end': 2412, 'text': 'Oracle'}]},
  {'label': ['Years of Experience'],
   'points': [{'start': 2394, 'end': 2402, 'text': '2.5 years'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2356, 'end': 2361, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 2334, 'end': 2353, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2184,
     'end': 2207,
     'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2184, 'end': 2189, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 2093, 'end': 2112, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 2086, 'end': 2091, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 1034, 'end': 1039, 'text': 'Oracle'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 556, 'end': 579, 'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 556, 'end': 561, 'text': 'Oracle'}]},
  {'label': ['Years of Experience'],
   'points': [{'start': 543, 'end': 551, 'text': '2.5 years'}]},
  {'label': ['Graduation Year'],
   'points': [{'start': 494, 'end': 497, 'text': '2015'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 452, 'end': 457, 'text': 'Oracle'}]},
  {'label': ['Designation'],
   'points': [{'start': 430, 'end': 449, 'text': 'Technical Consultant'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 263, 'end': 286, 'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 263, 'end': 268, 'text': 'Oracle'}]},
  {'label': ['Location'],
   'points': [{'start': 118, 'end': 125, 'text': 'Bilaspur'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 60, 'end': 83, 'text': 'Oracle Fusion Middleware'}]},
  {'label': ['Companies worked at'],
   'points': [{'start': 60, 'end': 65, 'text': 'Oracle'}]},
  {'label': ['Years of Experience'],
   'points': [{'start': 47, 'end': 55, 'text': '2.5 years'}]},
  {'label': ['Name'],
   'points': [{'start': 0, 'end': 15, 'text': 'Shrishti Chauhan'}]}]}

In [227]:
nlp = spacy.blank('en') #create a blank entity model


# @Language.component('ner')            #decorator in cases a new component is to be created
def train_model(train_ds):
    if 'ner' not in nlp.pipe_names:     
        ner = nlp.add_pipe('ner')       #adding the ner component to the pipeline

    for item in train_ds:                  
        for entities in item['annotation']:     
            for entity in entities['label']:    #loop through the dataset to select the entity labels to be used by the component
                ner.add_label(entity[0])
                

    optimizer = nlp.begin_training()            #optimizer declaration
    other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
    with nlp.disable_pipes(*other_pipes):       #disable all other components in the pipeline
        for itn in range(2):                    #Number of iterations for training the model
            print('Starting iteration')
            # random.shuffle(train_ds)          #Randomize the data in the set?
            losses = {}
            index = 0
            for item in train_ds[10:20]:
                # start_end_points = [[x['start'], x['end']] for x in (y['points'][0] for y in item['annotation'])] #start & end points for the entities
                # point_labels =  [y['label'] if y['label'] != [] else ['NaN'] for y in item['annotation']]     #Entity labels
                # annotation =  []                                                #Variable to hold entity start, end & labels
                annotation = list(zip([x['start'] for x in (y['points'][0] for y in item['annotation'])],   #start values
                                        [x['end'] for x in (y['points'][0] for y in item['annotation'])],  #end values
                                        [y['label'][0] if y['label'] != [] else 'NaN' for y in item['annotation']  ]))  #labels filtering for blanks
                print(annotation)
                                    #Iterative loop to join start, end & label values
                                    # i = 0
                                    # for x in start_end_points:      #Combine the entity start, end & labels lists
                                    #     x.append(point_labels[i])
                                    #     i+=1
                                    #     annotation.append(tuple(x))
                annotation = check_annotation(annotation)       #Verify on overlapping entities & return annotation list
                print(annotation)
                text = item['content']              
                doc = nlp(item['content'])      #Resume content converted to nlp doc against which the model is to train
                example = Example.from_dict( doc, {'entities' : annotation} )
                try:
                    nlp.update(
                        [example],
                        drop = 0.2,
                        sgd = optimizer,
                        losses = losses
                        )
                except Exception as e:
                    pass
                print(losses)
                # print(content)
                # print(annotation)

In [228]:
def check_annotation(annotation):
    rmv_idx = []                        #list to hold annotations to be removed
    annotation = list(set(annotation))  #remove duplicate entities
    # rmv_idx = [annotation.index(x) for x in annotation for y in annotation if y[0] <= x[1] <= y[1] and x != y ]
    # for i in rmv_idx:
    #     print(annotation[i])
    for item in annotation:
        for comp_item in annotation:    #iterative loops to compare values against each other
            if comp_item != item:       #skip similar tuples
                if item[0] <= comp_item[0] <= item[1]:      #check if item has start value between start & end values of other item
                    # print('Comparative Item: \t{} \n Item: \t\t\t{}' .format(comp_item, item))
                    rmv_idx.append(annotation.index(comp_item))
                if item[0] <= comp_item[1] <= item[1]:      #check if item has end value between start & end values of other item
                    # print('Comparative Item: \t{} \n Item: \t\t\t{}' .format(comp_item, item) )
                    rmv_idx.append(annotation.index(comp_item))
                    
    for x in sorted(list(set(rmv_idx)),  reverse = True):               #iterate through the list of reverse ordered & unique values of rmv_idx  
        annotation.pop(x)                                               # pop
    return annotation

In [229]:
train_model(resume_ds)
# print(nlp.pipe_names)

Starting iteration
[(5365, 5370, 'Companies worked at'), (5318, 5323, 'Companies worked at'), (4676, 4681, 'Companies worked at'), (4613, 4632, 'Designation'), (4407, 4412, 'Companies worked at'), (4374, 4397, 'Companies worked at'), (4374, 4379, 'Companies worked at'), (4328, 4347, 'Designation'), (4210, 4215, 'Companies worked at'), (4059, 4064, 'Companies worked at'), (3449, 3454, 'Companies worked at'), (3386, 3405, 'Designation'), (3165, 3170, 'Companies worked at'), (3132, 3155, 'Companies worked at'), (3132, 3137, 'Companies worked at'), (3087, 3106, 'Designation'), (2756, 2761, 'Companies worked at'), (2694, 2699, 'Companies worked at'), (2665, 2688, 'Companies worked at'), (2665, 2670, 'Companies worked at'), (2585, 2590, 'NaN'), (2562, 2567, 'Skills'), (2557, 2605, 'Skills'), (2543, 2546, 'Graduation Year'), (2482, 2532, 'College Name'), (2476, 2479, 'Degree'), (2407, 2430, 'Companies worked at'), (2407, 2412, 'Companies worked at'), (2394, 2402, 'Years of Experience'), (2356, 2361, 'Companies worked at'), (2334, 2353, 'Designation'), (2184, 2207, 'Companies worked at'), (2184, 2189, 'Companies worked at'), (2093, 2112, 'Designation'), (2086, 2091, 'Companies worked at'), (1034, 1039, 'Companies worked at'), (556, 579, 'Companies worked at'), (556, 561, 'Companies worked at'), (543, 551, 'Years of Experience'), (494, 497, 'Graduation Year'), (452, 457, 'Companies worked at'), (430, 449, 'Designation'), (263, 286, 'Companies worked at'), (263, 268, 'Companies worked at'), (118, 125, 'Location'), (60, 83, 'Companies worked at'), (60, 65, 'Companies worked at'), (47, 55, 'Years of Experience'), (0, 15, 'Name')]
Comparative Item: 	(2184, 2207, 'Companies worked at')
 Item: 			(2184, 2189, 'Companies worked at')
Comparative Item: 	(556, 561, 'Companies worked at')
 Item: 			(556, 579, 'Companies worked at')
Comparative Item: 	(556, 561, 'Companies worked at')
 Item: 			(556, 579, 'Companies worked at')
Comparative Item: 	(4374, 4379, 'Companies worked at')
 Item: 			(4374, 4397, 'Companies worked at')
Comparative Item: 	(4374, 4379, 'Companies worked at')
 Item: 			(4374, 4397, 'Companies worked at')
Comparative Item: 	(263, 286, 'Companies worked at')
 Item: 			(263, 268, 'Companies worked at')
Comparative Item: 	(4374, 4397, 'Companies worked at')
 Item: 			(4374, 4379, 'Companies worked at')
Comparative Item: 	(3132, 3137, 'Companies worked at')
 Item: 			(3132, 3155, 'Companies worked at')
Comparative Item: 	(3132, 3137, 'Companies worked at')
 Item: 			(3132, 3155, 'Companies worked at')
Comparative Item: 	(556, 579, 'Companies worked at')
 Item: 			(556, 561, 'Companies worked at')
Comparative Item: 	(3132, 3155, 'Companies worked at')
 Item: 			(3132, 3137, 'Companies worked at')
Comparative Item: 	(2562, 2567, 'Skills')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2562, 2567, 'Skills')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2585, 2590, 'NaN')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2585, 2590, 'NaN')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2407, 2412, 'Companies worked at')
 Item: 			(2407, 2430, 'Companies worked at')
Comparative Item: 	(2407, 2412, 'Companies worked at')
 Item: 			(2407, 2430, 'Companies worked at')
Comparative Item: 	(2184, 2189, 'Companies worked at')
 Item: 			(2184, 2207, 'Companies worked at')
Comparative Item: 	(2184, 2189, 'Companies worked at')
 Item: 			(2184, 2207, 'Companies worked at')
Comparative Item: 	(2665, 2670, 'Companies worked at')
 Item: 			(2665, 2688, 'Companies worked at')
Comparative Item: 	(2665, 2670, 'Companies worked at')
 Item: 			(2665, 2688, 'Companies worked at')
Comparative Item: 	(60, 65, 'Companies worked at')
 Item: 			(60, 83, 'Companies worked at')
Comparative Item: 	(60, 65, 'Companies worked at')
 Item: 			(60, 83, 'Companies worked at')
Comparative Item: 	(2407, 2430, 'Companies worked at')
 Item: 			(2407, 2412, 'Companies worked at')
Comparative Item: 	(2665, 2688, 'Companies worked at')
 Item: 			(2665, 2670, 'Companies worked at')
Comparative Item: 	(60, 83, 'Companies worked at')
 Item: 			(60, 65, 'Companies worked at')
Comparative Item: 	(263, 268, 'Companies worked at')
 Item: 			(263, 286, 'Companies worked at')
Comparative Item: 	(263, 268, 'Companies worked at')
 Item: 			(263, 286, 'Companies worked at')
[(4613, 4632, 'Designation'), (4328, 4347, 'Designation'), (452, 457, 'Companies worked at'), (4210, 4215, 'Companies worked at'), (2356, 2361, 'Companies worked at'), (2334, 2353, 'Designation'), (4676, 4681, 'Companies worked at'), (0, 15, 'Name'), (5365, 5370, 'Companies worked at'), (3087, 3106, 'Designation'), (3386, 3405, 'Designation'), (4407, 4412, 'Companies worked at'), (2557, 2605, 'Skills'), (2482, 2532, 'College Name'), (430, 449, 'Designation'), (4059, 4064, 'Companies worked at'), (2476, 2479, 'Degree'), (2086, 2091, 'Companies worked at'), (118, 125, 'Location'), (2394, 2402, 'Years of Experience'), (5318, 5323, 'Companies worked at'), (2093, 2112, 'Designation'), (494, 497, 'Graduation Year'), (2543, 2546, 'Graduation Year'), (2694, 2699, 'Companies worked at'), (47, 55, 'Years of Experience'), (3165, 3170, 'Companies worked at'), (1034, 1039, 'Companies worked at'), (543, 551, 'Years of Experience'), (3449, 3454, 'Companies worked at'), (2756, 2761, 'Companies worked at')]
{'ner': 934.3685445785522}
[(528, 553, 'Degree'), (458, 500, 'Skills'), (458, 466, 'Skills'), (401, 408, 'Location'), (378, 396, 'College Name'), (269, 276, 'Location'), (245, 253, 'Skills'), (141, 148, 'Location'), (66, 114, 'Email Address'), (19, 26, 'Location'), (0, 17, 'Name')]
Comparative Item: 	(458, 466, 'Skills')
 Item: 			(458, 500, 'Skills')
Comparative Item: 	(458, 466, 'Skills')
 Item: 			(458, 500, 'Skills')
Comparative Item: 	(458, 500, 'Skills')
 Item: 			(458, 466, 'Skills')
[(528, 553, 'Degree'), (245, 253, 'Skills'), (66, 114, 'Email Address'), (269, 276, 'Location'), (0, 17, 'Name'), (19, 26, 'Location'), (378, 396, 'College Name'), (141, 148, 'Location'), (401, 408, 'Location')]
{'ner': 1051.8493282236159}
[(411, 420, 'Companies worked at'), (381, 390, 'Companies worked at'), (367, 518, 'Skills'), (275, 278, 'Graduation Year'), (236, 249, 'College Name'), (213, 234, 'Degree'), (185, 188, 'Graduation Year'), (137, 146, 'Companies worked at'), (115, 135, 'Designation'), (55, 96, 'Email Address'), (12, 21, 'Location'), (0, 10, 'Name')]
Comparative Item: 	(411, 420, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(411, 420, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(381, 390, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(381, 390, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
[(185, 188, 'Graduation Year'), (275, 278, 'Graduation Year'), (213, 234, 'Degree'), (55, 96, 'Email Address'), (115, 135, 'Designation'), (12, 21, 'Location'), (367, 518, 'Skills'), (236, 249, 'College Name'), (137, 146, 'Companies worked at'), (0, 10, 'Name')]
{'ner': 1116.453363571316}
[(4542, 4548, 'Skills'), (4178, 4186, 'Skills'), (4031, 4039, 'Companies worked at'), (3996, 3998, 'Skills'), (3985, 3992, 'Skills'), (3929, 3932, 'Skills'), (3840, 3848, 'Skills'), (3814, 3827, 'Skills'), (3787, 3792, 'Skills'), (3759, 3765, 'Skills'), (3735, 3737, 'Skills'), (3707, 3713, 'Skills'), (3682, 3685, 'Skills'), (3653, 3660, 'Skills'), (3624, 3632, 'Skills'), (3603, 3611, 'Skills'), (3589, 3592, 'Graduation Year'), (3567, 3586, 'College Name'), (3556, 3559, 'Graduation Year'), (3535, 3553, 'College Name'), (3529, 3532, 'Graduation Year'), (3510, 3526, 'College Name'), (3485, 3507, 'Degree'), (1334, 1337, 'Graduation Year'), (1301, 1309, 'Location'), (1288, 1296, 'Companies worked at'), (1269, 1285, 'Designation'), (201, 209, 'Companies worked at'), (137, 145, 'Companies worked at'), (52, 89, 'Email Address'), (9, 17, 'Location'), (0, 7, 'Name')]
[(201, 209, 'Companies worked at'), (3567, 3586, 'College Name'), (4542, 4548, 'Skills'), (4178, 4186, 'Skills'), (0, 7, 'Name'), (9, 17, 'Location'), (3485, 3507, 'Degree'), (3653, 3660, 'Skills'), (3535, 3553, 'College Name'), (3624, 3632, 'Skills'), (3787, 3792, 'Skills'), (137, 145, 'Companies worked at'), (3603, 3611, 'Skills'), (4031, 4039, 'Companies worked at'), (3929, 3932, 'Skills'), (3814, 3827, 'Skills'), (3556, 3559, 'Graduation Year'), (1288, 1296, 'Companies worked at'), (3510, 3526, 'College Name'), (52, 89, 'Email Address'), (3682, 3685, 'Skills'), (3840, 3848, 'Skills'), (3985, 3992, 'Skills'), (1301, 1309, 'Location'), (3996, 3998, 'Skills'), (3589, 3592, 'Graduation Year'), (3759, 3765, 'Skills'), (3529, 3532, 'Graduation Year'), (1334, 1337, 'Graduation Year'), (1269, 1285, 'Designation'), (3735, 3737, 'Skills'), (3707, 3713, 'Skills')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Raja Chandra Mouli
Cuddapah, Andhra Pradesh - Emai..." with entities "[(528, 553, 'Degree'), (245, 253, 'Skills'), (66, ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Sweety Garg
Bengaluru, Karnataka - Email me on Ind..." with entities "[(185, 188, 'Graduation Year'), (275, 278, 'Gradua...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Ramya. P
Hyderabad, Telangana - Email me on Indeed..." with entities "[(201, 209, 'Companies worked at'), (3567, 3586, '...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Jacob Philip
Kottayam, Kerala - Email me on Indeed..." with entities "[(13, 20, 'Location'), (52, 93, 'Email Address'), ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 1918.4313832856715}
[(2165, 2214, 'Skills'), (2145, 2154, 'Degree'), (1789, 1799, 'Companies worked at'), (1305, 1346, 'Email Address'), (176, 206, 'Designation'), (52, 93, 'Email Address'), (13, 20, 'Location'), (0, 11, 'Name')]
[(13, 20, 'Location'), (52, 93, 'Email Address'), (2145, 2154, 'Degree'), (1789, 1799, 'Companies worked at'), (176, 206, 'Designation'), (2165, 2214, 'Skills'), (0, 11, 'Name'), (1305, 1346, 'Email Address')]
{'ner': 2213.470371250063}
[(2833, 4399, 'Skills'), (2819, 2822, 'Graduation Year'), (2781, 2817, 'College Name'), (2766, 2778, 'Degree'), (1645, 1673, 'Designation'), (1596, 1600, 'Location'), (133, 141, 'Years of Experience'), (85, 129, 'Email Address'), (45, 49, 'Location'), (15, 43, 'Designation'), (0, 13, 'Name')]
[(2781, 2817, 'College Name'), (2819, 2822, 'Graduation Year'), (2766, 2778, 'Degree'), (133, 141, 'Years of Experience'), (1596, 1600, 'Location'), (85, 129, 'Email Address'), (0, 13, 'Name'), (45, 49, 'Location'), (15, 43, 'Designation'), (1645, 1673, 'Designation'), (2833, 4399, 'Skills')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Manisha Bharti
Software Automation Engineer

Pune,..." with entities "[(2781, 2817, 'College Name'), (2819, 2822, 'Gradu...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 3342.4449939765036}
[(3086, 3254, 'Skills'), (3046, 3057, 'Skills'), (2981, 3009, 'College Name'), (2975, 2978, 'Degree'), (2969, 2972, 'Graduation Year'), (2938, 2966, 'College Name'), (2932, 2935, 'Degree'), (2926, 2929, 'Graduation Year'), (2869, 2923, 'College Name'), (2846, 2867, 'Degree'), (2749, 2752, 'Graduation Year'), (2614, 2692, 'Skills'), (2425, 2429, 'Location'), (2418, 2422, 'Location'), (2385, 2400, 'Designation'), (2220, 2224, 'Location'), (837, 848, 'Skills'), (332, 343, 'Companies worked at'), (311, 326, 'Designation'), (221, 232, 'Skills'), (138, 169, 'Degree'), (81, 124, 'Email Address'), (53, 57, 'Location'), (46, 50, 'Location'), (32, 43, 'Companies worked at'), (14, 29, 'Designation'), (0, 12, 'Name')]
[(2975, 2978, 'Degree'), (2425, 2429, 'Location'), (46, 50, 'Location'), (32, 43, 'Companies worked at'), (2869, 2923, 'College Name'), (2614, 2692, 'Skills'), (14, 29, 'Designation'), (311, 326, 'Designation'), (221, 232, 'Skills'), (2938, 2966, 'College Name'), (138, 169, 'Degree'), (53, 57, 'Location'), (2981, 3009, 'College Name'), (81, 124, 'Email Address'), (3086, 3254, 'Skills'), (2969, 2972, 'Graduation Year'), (3046, 3057, 'Skills'), (332, 343, 'Companies worked at'), (2926, 2929, 'Graduation Year'), (837, 848, 'Skills'), (2418, 2422, 'Location'), (2932, 2935, 'Degree'), (2385, 2400, 'Designation'), (2749, 2752, 'Graduation Year'), (2220, 2224, 'Location'), (0, 12, 'Name'), (2846, 2867, 'Degree')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Kartik Sharma
Systems Engineer - Infosys Ltd

Delh..." with entities "[(2975, 2978, 'Degree'), (2425, 2429, 'Location'),...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 3886.2472329176962}
[(1963, 2093, 'Skills'), (1818, 1925, 'Skills'), (1741, 1758, 'College Name'), (1732, 1738, 'Degree'), (1681, 1699, 'College Name'), (1605, 1648, 'College Name'), (1586, 1602, 'Degree'), (1577, 1581, 'Degree'), (1520, 1546, 'College Name'), (1503, 1517, 'Degree'), (1478, 1494, 'Degree'), (1465, 1475, 'Degree'), (35, 79, 'Email Address'), (0, 12, 'Name')]
[(1503, 1517, 'Degree'), (1520, 1546, 'College Name'), (1586, 1602, 'Degree'), (1577, 1581, 'Degree'), (1478, 1494, 'Degree'), (1963, 2093, 'Skills'), (1818, 1925, 'Skills'), (0, 12, 'Name'), (1465, 1475, 'Degree'), (35, 79, 'Email Address'), (1605, 1648, 'College Name'), (1741, 1758, 'College Name'), (1681, 1699, 'College Name'), (1732, 1738, 'Degree')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Moumita Mitra
- Email me on Indeed: indeed.com/r/M..." with entities "[(1503, 1517, 'Degree'), (1520, 1546, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 4199.974818233401}
[(2246, 2572, 'Skills'), (1435, 1479, 'Email Address'), (875, 963, 'Skills'), (861, 864, 'Graduation Year'), (837, 855, 'College Name'), (773, 829, 'Degree'), (767, 770, 'Graduation Year'), (743, 761, 'College Name'), (714, 740, 'Degree'), (271, 279, 'Location'), (233, 251, 'Designation'), (96, 140, 'Email Address'), (53, 61, 'Location'), (38, 51, 'Companies worked at'), (16, 34, 'Designation'), (0, 14, 'Name')]
[(38, 51, 'Companies worked at'), (16, 34, 'Designation'), (2246, 2572, 'Skills'), (773, 829, 'Degree'), (861, 864, 'Graduation Year'), (233, 251, 'Designation'), (1435, 1479, 'Email Address'), (743, 761, 'College Name'), (875, 963, 'Skills'), (714, 740, 'Degree'), (53, 61, 'Location'), (0, 14, 'Name'), (767, 770, 'Graduation Year'), (96, 140, 'Email Address'), (271, 279, 'Location'), (837, 855, 'College Name')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Hartej Kathuria
Data Analyst Intern - Oracle Retai..." with entities "[(38, 51, 'Companies worked at'), (16, 34, 'Design...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 4523.294761124998}
[(2349, 2471, 'Skills'), (2331, 2339, 'Degree'), (1811, 1847, 'Email Address'), (921, 940, 'Companies worked at'), (783, 791, 'Location'), (733, 756, 'Designation'), (96, 132, 'Email Address'), (64, 72, 'Location'), (53, 61, 'Location'), (8, 50, 'Designation'), (0, 6, 'Name')]
[(783, 791, 'Location'), (733, 756, 'Designation'), (2331, 2339, 'Degree'), (53, 61, 'Location'), (64, 72, 'Location'), (96, 132, 'Email Address'), (8, 50, 'Designation'), (921, 940, 'Companies worked at'), (1811, 1847, 'Email Address'), (2349, 2471, 'Skills'), (0, 6, 'Name')]

C:\Users\teddy\miniconda3\envs\NLP_env\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "Abdul B
Arabic Language supporter (Content Analyst..." with entities "[(783, 791, 'Location'), (733, 756, 'Designation')...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 5040.632188264281}
Starting iteration
[(5365, 5370, 'Companies worked at'), (5318, 5323, 'Companies worked at'), (4676, 4681, 'Companies worked at'), (4613, 4632, 'Designation'), (4407, 4412, 'Companies worked at'), (4374, 4397, 'Companies worked at'), (4374, 4379, 'Companies worked at'), (4328, 4347, 'Designation'), (4210, 4215, 'Companies worked at'), (4059, 4064, 'Companies worked at'), (3449, 3454, 'Companies worked at'), (3386, 3405, 'Designation'), (3165, 3170, 'Companies worked at'), (3132, 3155, 'Companies worked at'), (3132, 3137, 'Companies worked at'), (3087, 3106, 'Designation'), (2756, 2761, 'Companies worked at'), (2694, 2699, 'Companies worked at'), (2665, 2688, 'Companies worked at'), (2665, 2670, 'Companies worked at'), (2585, 2590, 'NaN'), (2562, 2567, 'Skills'), (2557, 2605, 'Skills'), (2543, 2546, 'Graduation Year'), (2482, 2532, 'College Name'), (2476, 2479, 'Degree'), (2407, 2430, 'Companies worked at'), (2407, 2412, 'Companies worked at'), (2394, 2402, 'Years of Experience'), (2356, 2361, 'Companies worked at'), (2334, 2353, 'Designation'), (2184, 2207, 'Companies worked at'), (2184, 2189, 'Companies worked at'), (2093, 2112, 'Designation'), (2086, 2091, 'Companies worked at'), (1034, 1039, 'Companies worked at'), (556, 579, 'Companies worked at'), (556, 561, 'Companies worked at'), (543, 551, 'Years of Experience'), (494, 497, 'Graduation Year'), (452, 457, 'Companies worked at'), (430, 449, 'Designation'), (263, 286, 'Companies worked at'), (263, 268, 'Companies worked at'), (118, 125, 'Location'), (60, 83, 'Companies worked at'), (60, 65, 'Companies worked at'), (47, 55, 'Years of Experience'), (0, 15, 'Name')]
Comparative Item: 	(2184, 2207, 'Companies worked at')
 Item: 			(2184, 2189, 'Companies worked at')
Comparative Item: 	(556, 561, 'Companies worked at')
 Item: 			(556, 579, 'Companies worked at')
Comparative Item: 	(556, 561, 'Companies worked at')
 Item: 			(556, 579, 'Companies worked at')
Comparative Item: 	(4374, 4379, 'Companies worked at')
 Item: 			(4374, 4397, 'Companies worked at')
Comparative Item: 	(4374, 4379, 'Companies worked at')
 Item: 			(4374, 4397, 'Companies worked at')
Comparative Item: 	(263, 286, 'Companies worked at')
 Item: 			(263, 268, 'Companies worked at')
Comparative Item: 	(4374, 4397, 'Companies worked at')
 Item: 			(4374, 4379, 'Companies worked at')
Comparative Item: 	(3132, 3137, 'Companies worked at')
 Item: 			(3132, 3155, 'Companies worked at')
Comparative Item: 	(3132, 3137, 'Companies worked at')
 Item: 			(3132, 3155, 'Companies worked at')
Comparative Item: 	(556, 579, 'Companies worked at')
 Item: 			(556, 561, 'Companies worked at')
Comparative Item: 	(3132, 3155, 'Companies worked at')
 Item: 			(3132, 3137, 'Companies worked at')
Comparative Item: 	(2562, 2567, 'Skills')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2562, 2567, 'Skills')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2585, 2590, 'NaN')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2585, 2590, 'NaN')
 Item: 			(2557, 2605, 'Skills')
Comparative Item: 	(2407, 2412, 'Companies worked at')
 Item: 			(2407, 2430, 'Companies worked at')
Comparative Item: 	(2407, 2412, 'Companies worked at')
 Item: 			(2407, 2430, 'Companies worked at')
Comparative Item: 	(2184, 2189, 'Companies worked at')
 Item: 			(2184, 2207, 'Companies worked at')
Comparative Item: 	(2184, 2189, 'Companies worked at')
 Item: 			(2184, 2207, 'Companies worked at')
Comparative Item: 	(2665, 2670, 'Companies worked at')
 Item: 			(2665, 2688, 'Companies worked at')
Comparative Item: 	(2665, 2670, 'Companies worked at')
 Item: 			(2665, 2688, 'Companies worked at')
Comparative Item: 	(60, 65, 'Companies worked at')
 Item: 			(60, 83, 'Companies worked at')
Comparative Item: 	(60, 65, 'Companies worked at')
 Item: 			(60, 83, 'Companies worked at')
Comparative Item: 	(2407, 2430, 'Companies worked at')
 Item: 			(2407, 2412, 'Companies worked at')
Comparative Item: 	(2665, 2688, 'Companies worked at')
 Item: 			(2665, 2670, 'Companies worked at')
Comparative Item: 	(60, 83, 'Companies worked at')
 Item: 			(60, 65, 'Companies worked at')
Comparative Item: 	(263, 268, 'Companies worked at')
 Item: 			(263, 286, 'Companies worked at')
Comparative Item: 	(263, 268, 'Companies worked at')
 Item: 			(263, 286, 'Companies worked at')
[(4613, 4632, 'Designation'), (4328, 4347, 'Designation'), (452, 457, 'Companies worked at'), (4210, 4215, 'Companies worked at'), (2356, 2361, 'Companies worked at'), (2334, 2353, 'Designation'), (4676, 4681, 'Companies worked at'), (0, 15, 'Name'), (5365, 5370, 'Companies worked at'), (3087, 3106, 'Designation'), (3386, 3405, 'Designation'), (4407, 4412, 'Companies worked at'), (2557, 2605, 'Skills'), (2482, 2532, 'College Name'), (430, 449, 'Designation'), (4059, 4064, 'Companies worked at'), (2476, 2479, 'Degree'), (2086, 2091, 'Companies worked at'), (118, 125, 'Location'), (2394, 2402, 'Years of Experience'), (5318, 5323, 'Companies worked at'), (2093, 2112, 'Designation'), (494, 497, 'Graduation Year'), (2543, 2546, 'Graduation Year'), (2694, 2699, 'Companies worked at'), (47, 55, 'Years of Experience'), (3165, 3170, 'Companies worked at'), (1034, 1039, 'Companies worked at'), (543, 551, 'Years of Experience'), (3449, 3454, 'Companies worked at'), (2756, 2761, 'Companies worked at')]
{'ner': 361.6019456386566}
[(528, 553, 'Degree'), (458, 500, 'Skills'), (458, 466, 'Skills'), (401, 408, 'Location'), (378, 396, 'College Name'), (269, 276, 'Location'), (245, 253, 'Skills'), (141, 148, 'Location'), (66, 114, 'Email Address'), (19, 26, 'Location'), (0, 17, 'Name')]
Comparative Item: 	(458, 466, 'Skills')
 Item: 			(458, 500, 'Skills')
Comparative Item: 	(458, 466, 'Skills')
 Item: 			(458, 500, 'Skills')
Comparative Item: 	(458, 500, 'Skills')
 Item: 			(458, 466, 'Skills')
[(528, 553, 'Degree'), (245, 253, 'Skills'), (66, 114, 'Email Address'), (269, 276, 'Location'), (0, 17, 'Name'), (19, 26, 'Location'), (378, 396, 'College Name'), (141, 148, 'Location'), (401, 408, 'Location')]
{'ner': 375.33928665332496}
[(411, 420, 'Companies worked at'), (381, 390, 'Companies worked at'), (367, 518, 'Skills'), (275, 278, 'Graduation Year'), (236, 249, 'College Name'), (213, 234, 'Degree'), (185, 188, 'Graduation Year'), (137, 146, 'Companies worked at'), (115, 135, 'Designation'), (55, 96, 'Email Address'), (12, 21, 'Location'), (0, 10, 'Name')]
Comparative Item: 	(411, 420, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(411, 420, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(381, 390, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
Comparative Item: 	(381, 390, 'Companies worked at')
 Item: 			(367, 518, 'Skills')
[(185, 188, 'Graduation Year'), (275, 278, 'Graduation Year'), (213, 234, 'Degree'), (55, 96, 'Email Address'), (115, 135, 'Designation'), (12, 21, 'Location'), (367, 518, 'Skills'), (236, 249, 'College Name'), (137, 146, 'Companies worked at'), (0, 10, 'Name')]
{'ner': 384.8914846972366}
[(4542, 4548, 'Skills'), (4178, 4186, 'Skills'), (4031, 4039, 'Companies worked at'), (3996, 3998, 'Skills'), (3985, 3992, 'Skills'), (3929, 3932, 'Skills'), (3840, 3848, 'Skills'), (3814, 3827, 'Skills'), (3787, 3792, 'Skills'), (3759, 3765, 'Skills'), (3735, 3737, 'Skills'), (3707, 3713, 'Skills'), (3682, 3685, 'Skills'), (3653, 3660, 'Skills'), (3624, 3632, 'Skills'), (3603, 3611, 'Skills'), (3589, 3592, 'Graduation Year'), (3567, 3586, 'College Name'), (3556, 3559, 'Graduation Year'), (3535, 3553, 'College Name'), (3529, 3532, 'Graduation Year'), (3510, 3526, 'College Name'), (3485, 3507, 'Degree'), (1334, 1337, 'Graduation Year'), (1301, 1309, 'Location'), (1288, 1296, 'Companies worked at'), (1269, 1285, 'Designation'), (201, 209, 'Companies worked at'), (137, 145, 'Companies worked at'), (52, 89, 'Email Address'), (9, 17, 'Location'), (0, 7, 'Name')]
[(201, 209, 'Companies worked at'), (3567, 3586, 'College Name'), (4542, 4548, 'Skills'), (4178, 4186, 'Skills'), (0, 7, 'Name'), (9, 17, 'Location'), (3485, 3507, 'Degree'), (3653, 3660, 'Skills'), (3535, 3553, 'College Name'), (3624, 3632, 'Skills'), (3787, 3792, 'Skills'), (137, 145, 'Companies worked at'), (3603, 3611, 'Skills'), (4031, 4039, 'Companies worked at'), (3929, 3932, 'Skills'), (3814, 3827, 'Skills'), (3556, 3559, 'Graduation Year'), (1288, 1296, 'Companies worked at'), (3510, 3526, 'College Name'), (52, 89, 'Email Address'), (3682, 3685, 'Skills'), (3840, 3848, 'Skills'), (3985, 3992, 'Skills'), (1301, 1309, 'Location'), (3996, 3998, 'Skills'), (3589, 3592, 'Graduation Year'), (3759, 3765, 'Skills'), (3529, 3532, 'Graduation Year'), (1334, 1337, 'Graduation Year'), (1269, 1285, 'Designation'), (3735, 3737, 'Skills'), (3707, 3713, 'Skills')]
{'ner': 388.0499244864368}
[(2165, 2214, 'Skills'), (2145, 2154, 'Degree'), (1789, 1799, 'Companies worked at'), (1305, 1346, 'Email Address'), (176, 206, 'Designation'), (52, 93, 'Email Address'), (13, 20, 'Location'), (0, 11, 'Name')]
[(13, 20, 'Location'), (52, 93, 'Email Address'), (2145, 2154, 'Degree'), (1789, 1799, 'Companies worked at'), (176, 206, 'Designation'), (2165, 2214, 'Skills'), (0, 11, 'Name'), (1305, 1346, 'Email Address')]
{'ner': 392.04286602936327}
[(2833, 4399, 'Skills'), (2819, 2822, 'Graduation Year'), (2781, 2817, 'College Name'), (2766, 2778, 'Degree'), (1645, 1673, 'Designation'), (1596, 1600, 'Location'), (133, 141, 'Years of Experience'), (85, 129, 'Email Address'), (45, 49, 'Location'), (15, 43, 'Designation'), (0, 13, 'Name')]
[(2781, 2817, 'College Name'), (2819, 2822, 'Graduation Year'), (2766, 2778, 'Degree'), (133, 141, 'Years of Experience'), (1596, 1600, 'Location'), (85, 129, 'Email Address'), (0, 13, 'Name'), (45, 49, 'Location'), (15, 43, 'Designation'), (1645, 1673, 'Designation'), (2833, 4399, 'Skills')]
{'ner': 1027.909469642263}
[(3086, 3254, 'Skills'), (3046, 3057, 'Skills'), (2981, 3009, 'College Name'), (2975, 2978, 'Degree'), (2969, 2972, 'Graduation Year'), (2938, 2966, 'College Name'), (2932, 2935, 'Degree'), (2926, 2929, 'Graduation Year'), (2869, 2923, 'College Name'), (2846, 2867, 'Degree'), (2749, 2752, 'Graduation Year'), (2614, 2692, 'Skills'), (2425, 2429, 'Location'), (2418, 2422, 'Location'), (2385, 2400, 'Designation'), (2220, 2224, 'Location'), (837, 848, 'Skills'), (332, 343, 'Companies worked at'), (311, 326, 'Designation'), (221, 232, 'Skills'), (138, 169, 'Degree'), (81, 124, 'Email Address'), (53, 57, 'Location'), (46, 50, 'Location'), (32, 43, 'Companies worked at'), (14, 29, 'Designation'), (0, 12, 'Name')]
[(2975, 2978, 'Degree'), (2425, 2429, 'Location'), (46, 50, 'Location'), (32, 43, 'Companies worked at'), (2869, 2923, 'College Name'), (2614, 2692, 'Skills'), (14, 29, 'Designation'), (311, 326, 'Designation'), (221, 232, 'Skills'), (2938, 2966, 'College Name'), (138, 169, 'Degree'), (53, 57, 'Location'), (2981, 3009, 'College Name'), (81, 124, 'Email Address'), (3086, 3254, 'Skills'), (2969, 2972, 'Graduation Year'), (3046, 3057, 'Skills'), (332, 343, 'Companies worked at'), (2926, 2929, 'Graduation Year'), (837, 848, 'Skills'), (2418, 2422, 'Location'), (2932, 2935, 'Degree'), (2385, 2400, 'Designation'), (2749, 2752, 'Graduation Year'), (2220, 2224, 'Location'), (0, 12, 'Name'), (2846, 2867, 'Degree')]
{'ner': 1035.912014861898}
[(1963, 2093, 'Skills'), (1818, 1925, 'Skills'), (1741, 1758, 'College Name'), (1732, 1738, 'Degree'), (1681, 1699, 'College Name'), (1605, 1648, 'College Name'), (1586, 1602, 'Degree'), (1577, 1581, 'Degree'), (1520, 1546, 'College Name'), (1503, 1517, 'Degree'), (1478, 1494, 'Degree'), (1465, 1475, 'Degree'), (35, 79, 'Email Address'), (0, 12, 'Name')]
[(1503, 1517, 'Degree'), (1520, 1546, 'College Name'), (1586, 1602, 'Degree'), (1577, 1581, 'Degree'), (1478, 1494, 'Degree'), (1963, 2093, 'Skills'), (1818, 1925, 'Skills'), (0, 12, 'Name'), (1465, 1475, 'Degree'), (35, 79, 'Email Address'), (1605, 1648, 'College Name'), (1741, 1758, 'College Name'), (1681, 1699, 'College Name'), (1732, 1738, 'Degree')]
{'ner': 1043.9111372601542}
[(2246, 2572, 'Skills'), (1435, 1479, 'Email Address'), (875, 963, 'Skills'), (861, 864, 'Graduation Year'), (837, 855, 'College Name'), (773, 829, 'Degree'), (767, 770, 'Graduation Year'), (743, 761, 'College Name'), (714, 740, 'Degree'), (271, 279, 'Location'), (233, 251, 'Designation'), (96, 140, 'Email Address'), (53, 61, 'Location'), (38, 51, 'Companies worked at'), (16, 34, 'Designation'), (0, 14, 'Name')]
[(38, 51, 'Companies worked at'), (16, 34, 'Designation'), (2246, 2572, 'Skills'), (773, 829, 'Degree'), (861, 864, 'Graduation Year'), (233, 251, 'Designation'), (1435, 1479, 'Email Address'), (743, 761, 'College Name'), (875, 963, 'Skills'), (714, 740, 'Degree'), (53, 61, 'Location'), (0, 14, 'Name'), (767, 770, 'Graduation Year'), (96, 140, 'Email Address'), (271, 279, 'Location'), (837, 855, 'College Name')]
{'ner': 1051.9091681355194}
[(2349, 2471, 'Skills'), (2331, 2339, 'Degree'), (1811, 1847, 'Email Address'), (921, 940, 'Companies worked at'), (783, 791, 'Location'), (733, 756, 'Designation'), (96, 132, 'Email Address'), (64, 72, 'Location'), (53, 61, 'Location'), (8, 50, 'Designation'), (0, 6, 'Name')]
[(783, 791, 'Location'), (733, 756, 'Designation'), (2331, 2339, 'Degree'), (53, 61, 'Location'), (64, 72, 'Location'), (96, 132, 'Email Address'), (8, 50, 'Designation'), (921, 940, 'Companies worked at'), (1811, 1847, 'Email Address'), (2349, 2471, 'Skills'), (0, 6, 'Name')]
{'ner': 1059.9076444233444}

# Learnt Concepts

In [ ]:
#print([x['points'] for x in item['annotation']])
# print([(start, end) for [start,end] in x['start','end'] for x in y['points'] for y in item['annotation']])
# print([((x['start'], x['end'] ) for x in (y['points'][0] for y in item['annotation']), [y['label'][0] for y in item['annotation']])])
# print([y['label'][0] for y in item['annotation']])

In [26]:

#Utilizing list comprehension foe the check_annotation method
def check_annotation_(annotation):
    rmv_idx = []                    #list to hold annotations to be removed

    rmv_idx = [annotation.index(x) for x in annotation for y in annotation if y[0] <= x[1] <= y[1] and x != y ]
    for i in rmv_idx:
        print(annotation[i])
    # for item in annotation:
    #     for comp_item in annotation:    #iterative loops to compare values against each other
    #         if comp_item != item:       #skip similar tuples
    #             if item[0] <= comp_item[0] <= item[1]:      #check if item has start value between start & end values of other item
    #                 print('Comparative Item: \t{} \n Item: \t\t\t{}' .format(comp_item, item))
    #                 rmv_idx.append(annotation.index(comp_item))
    #             if item[0] <= comp_item[1] <= item[1]:      #check if item has end value between start & end values of other item
    #                 print('Comparative Item: \t{} \n Item: \t\t\t{}' .format(comp_item, item) )
    #                 rmv_idx.append(annotation.index(comp_item))
                    
    for x in sorted(list(set(rmv_idx)),  reverse = True):              #iterate through the list of reverse ordered & unique values of rmv_idx  
        annotation.pop(x)                                               # pop
    return annotation

for item in resume_ds[0:1]:
    start_end_points = [[x['start'], x['end']] for x in (y['points'][0] for y in item['annotation'])] #start & end points for the entities
    point_labels =  [y['label'][0] for y in item['annotation']]     #Entity labels
    annotation =  []                                                #Variable to hold entity start, end & labels
    text = item['content']              
    i = 0
    for x in start_end_points:      #Combine the entity start, end & labels lists
        x.append(point_labels[i])
        i+=1
        annotation.append(tuple(x))
    annotation = check_annotation_(annotation)
    print(annotation)

(1749, 1754, 'Companies worked at')
(1696, 1701, 'Companies worked at')
(1417, 1422, 'Companies worked at')
(1209, 1214, 'Companies worked at')
[(1356, 1792, 'Skills'), (1136, 1247, 'Skills'), (928, 931, 'Graduation Year'), (858, 888, 'College Name'), (821, 855, 'Degree'), (787, 790, 'Graduation Year'), (744, 749, 'Companies worked at'), (722, 741, 'Designation'), (658, 663, 'Companies worked at'), (640, 655, 'Designation'), (574, 579, 'Companies worked at'), (555, 572, 'Designation'), (470, 492, 'Companies worked at'), (444, 468, 'Designation'), (308, 313, 'Companies worked at'), (234, 239, 'Companies worked at'), (175, 197, 'Companies worked at'), (93, 136, 'Email Address'), (39, 47, 'Location'), (13, 37, 'Designation'), (0, 11, 'Name')]